*.tmp
.gradle
/build/
gradle.properties
*.db
sqlite3.exe
/nbproject/

/.nb-gradle/
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Ignore outputs.txt which is used for evaluating output when doing tests
outputs.txt
